body {
  background: #ffffff;
  box-sizing: border-box;
}

.categoryImg {
  width: 100%;
  height: 1.68rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.athena-productList ul li {
  list-style-type: none;
}

p {
  margin: 0;
}

.athena-productList a {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
}

.athena-productList img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.athena-productList-title {
  width: 100%;
  height: 0.58rem;
  line-height: 0.58rem;
  font-family: Aileron-SemiBold, Aileron;
}

.athena-productList-title h4 #title {
  margin: 0;
  padding: 0 0.16rem;
  font-size: 0.16rem;
  color: #000000;
  font-weight: 600;
}

.athena-productList-title p {
  margin: 0;
  padding: 0 0.16rem;
  font-size: 0.16rem;
  color: #000000;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.athena-productList-title p span {
  max-width: 3rem;
}

.athena-productList-title h4 .total {
  font-size: 0.12rem;
  color: #888888;
  font-weight: 600;
}

/* 商品列表排序过滤 */
.athena-productList-filter {
  width: 100%;
  height: 0.4rem;
  background: #f6f6f6;
  font-family: Aileron-SemiBold, Aileron;
  line-height: 0.4rem;
  position: relative;
}

.athena-productList-filter .athena-filter-father {
  padding: 0 0.16rem;
}

.athena-productList-filter .athena-filter-father li {
  float: right;
}

.athena-filter-father li:first-child {
  margin-top: 0.14rem;
  margin-left: 0.2rem;
}

.athena-filter-child {
  position: absolute;
  width: 100%;
  z-index: 100;
  font-size: 0.12rem;
  padding: 0 0.16rem;
  margin: 0;
  background: #fff;
}

.athena-filter-child .athena-filter-child-name {
  float: left;
  display: flex;
  align-items: center;
}

.athena-filter-child .athena-filter-child-name img {
  width: auto;
  height: 0.25rem;
}

.athena-filter-child .athena-filter-child-check {
  float: right;
  margin-right: 0.5rem;
  display: none;
}

.athena-filter-child .athena-filter-child-check img {
  width: auto;
  height: 0.12rem;
}

.athena-changeView {
  float: right;
  line-height: 0;
  font-size: 0;
}

.athena-changeView:first-child {
  padding-left: 0.1rem;
  border-left: 1px solid #bbbbbb;
}

.athena-changeView:last-child {
  padding-right: 0.1rem;
}

.athena-changeView span {
  display: inline-block;
  width: 0.13rem;
  height: 0.13rem;
  background: #bbbbbb;
}

.athena-changeView:first-child span:first-child {
  margin-right: 0.04rem;
}

.athena-productList-cantainer {
  width: 100%;
}
#Juxtaposition span {
  background-color: #474747;
}
.athena-productList .triangle {
  margin-left: 0.05rem;
  width: 0.08rem;
  height: 0.04rem;
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
}

.athena-productList .triangle_ratate {
  transform: rotate(0deg);
}

.athena-productList .Sort {
  display: none;
}

.athena-filter-child .hide {
  display: none;
}

.athena-filter-child .show {
  display: block;
}
