.athena-productListBox {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.16rem;
}

.athena-productListBox .athena_product_item::after {
  content: '';
  width: 48%;
}

.athena-productListBox .athena_product_item {
  width: 48%;
  margin-bottom: 0.15rem;
  background: #ffffff;
  box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  text-align: center;
  position: relative;
  padding: 0;
}
.athena_product_item {
  position: relative;
}
.athena-productListBox .threeDSweiperImages {
  width: 0.2rem;
  position: absolute;
  height: 0.2rem;
  left: 84%;
  top: 0.05rem;
  /* transform: translate(0,0); */
  /* animation: rotateFn 2s linear infinite;
  -webkit-animation: rotateFn 2s linear infinite;
  perspective: 1000;
  -webkit-perspective:1000; */
}
@keyframes rotateFn {
  0% {
    transform: rotateY(0) translate(0, 0);
  }
  50% {
    transform: rotateY(-90deg) translate(0, 0);
  }
  100% {
    transform: rotateY(0) translate(0, 0);
  }
}

.athena_product_item .discount {
  position: absolute;
  background: #df0052;
  color: #fff;
  right: 0;
  top: 0.05rem;
  padding: 0.02rem;
  font-family: Aileron-Bold, Aileron;
  font-weight: bold;
  font-size: 0.1rem;
}
.athena_product_item .discount.freeShipping{
  top: 0.3rem;
}
.athena_product_item .discount em:first-child {
  font-size: 0.12rem;
  font-family: Aileron-Bold, Aileron;
  display: inline-block;
  line-height: 1;
  margin-top: 0.05rem;
}

.athena_product_item .discount em:first-child i {
  font-weight: bold;
}

.athena_product_item .discount em:last-child {
  font-size: 0.1rem;
  font-family: Aileron-Bold, Aileron;
  display: block;
}

.athena_product_item .free_shipping {
  position: absolute;
  top: 0;
  right: 0;
  background: #df0052;
  border-radius: 0px 0px 0px 1px;
  font-size: 0.1rem;
  font-family: Aileron-Bold, Aileron;
  font-weight: bold;
  color: #ffffff;
  padding: 0.02rem;
  margin-top: 0.05rem;
}

.athena_product_item a {
  display: inline-block;
  position: relative;
  height: 0 !important;
  width: 100%;
  padding-bottom: 100%;
}

.itemImg {
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.athena_product_item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.athena_product_introduce_title {
  margin: 0.02rem 0.12rem;
  font-size: 0.1rem;
  text-align: center;
  /* height: 0.56rem; */
}
.athena-product-introduce-price {
  margin-bottom: 10px;
}
.athena_product_introduce_title p {
  font-family: Aileron-Regular, Aileron;
  font-weight: 400;
  color: #303133;
  width: 100%;
  margin: 0.06rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.athena_product_introduce_price {
  width: 100%;
  font-family: Aileron-Regular, Aileron;
  margin-bottom: 0.12rem;
  font-weight: 400;
}

.athena_product_introduce_price .defaultPrice {
  font-size: 0.1rem;
  font-weight: 700;
  color: #303030ff;
}

.athena_product_introduce_price .discountPrice {
  font-size: 0.1rem;
  font-weight: 700;
  color: #df0052;
}

.defaultPrice_line {
  text-decoration: line-through;
  font-weight: 700;
  color: #9b9b9b !important;
  font-size: 0.1rem;
}
.oldDefaultPrice{
  text-decoration: line-through;
  font-size: 0.1rem;
  font-weight: 700;
  color: #9b9b9b;
}
.newDiscountPrice{
  font-size: 0.1rem;
  font-weight: 700;
  color: #df0052;
}