
root = true

[*]
# 设置字符集
charset = utf-8
# 缩进风格
indent_style = tab
# 缩进空格
indent_size = 4
# 结尾换行
end_of_line = crlf
# 文件末尾换行符
insert_final_newline = true
# 删除代码前后空格
trim_trailing_whitespace = true
spaces_around_operators = true      # 运算符两遍都有空格
[*.{html,less,css,json}]            # 对所有 html, less, css, json 文件生效
quote_type = double                 # 字符串使用双引号
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
