.recommendProducts {
  position: relative;
  margin: 60px 160px;
}

.items-warp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 30px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px;
}
.recommendProducts .swiper-slide {
  padding: 2px 0;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
.recommendProducts .swiper-button-prev,
.recommendProducts .swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  color: #000;
  background-color: #ffffff;
  transition: all 0.3s;
}
.recommendProducts .swiper-slide .productsItems {
  margin: 0 2px;
  transform: translate3d(0, 0, 0);
}
.recommendProducts .swiper-button-prev {
  left: -75px;
}

.recommendProducts .swiper-button-next {
  right: -75px;
}
@media screen and (max-width: 1600px) {
  .recommendProducts {
    margin: 0.6rem 1.6rem;
  }

  .items-warp {
    grid-gap: 0.3rem 0.3rem;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 0.25rem;
  }
  .recommendProducts .swiper-slide {
    padding: 2px 0;
  }
  .recommendProducts .swiper-button-prev,
  .recommendProducts .swiper-button-next {
    width: 0.4rem;
    height: 0.4rem;
  }
  .recommendProducts .swiper-slide .productsItems {
    margin: 0 2px;
  }
  .recommendProducts .swiper-button-prev {
    left: -0.75rem;
  }

  .recommendProducts .swiper-button-next {
    right: -0.75rem;
  }
}
