@font-face {
  font-family: 'Aileron-Regular, Aileron';
  src: url('../../pc/fonts/Aileron-Regular.eot');
  /* IE9 */
  src: url('../../pc/fonts/Aileron-Regular.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Aileron-Regular.woff') format('woff'),
    url('../../pc/fonts/Aileron-Regular.ttf') format('truetype'),
    /* chrome,
firefox, opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Aileron-Regular.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-Thin';
  src: url('../../pc/fonts/Aileron-Thin.eot');
  /* IE9 */
  src: url('../../pc/fonts/Aileron-Thin.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Aileron-Thin.woff') format('woff'),
    url('../../pc/fonts/Aileron-Thin.ttf') format('truetype'),
    /* chrome, firefox,
opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Aileron-Thin.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Floane-Regular';
  src: url('../../pc/fonts/Floane-Regular.eot');
  /* IE9 */
  src: url('../../pc/fonts/Floane-Regular.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Floane-Regular.woff') format('woff'),
    url('../../pc/fonts/Floane-Regular.ttf') format('truetype'),
    /* chrome,
firefox, opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Floane-Regular.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-Regular-10';
  src: url('../../pc/fonts/Aileron-Regular-10.eot');
  /* IE9 */
  src: url('../../pc/fonts/Aileron-Regular-10.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Aileron-Regular-10.woff') format('woff'),
    url('../../pc/fonts/Aileron-Regular-10.ttf') format('truetype'),
    /*
chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Aileron-Regular-10.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-Thin-13';
  src: url('../../pc/fonts/Aileron-Thin-13.eot');
  /* IE9 */
  src: url('../../pc/fonts/Aileron-Thin-13.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Aileron-Thin-13.woff') format('woff'),
    url('../fonts/Aileron-Thin-13.ttf') format('truetype'),
    /*
chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Aileron-Thin-13.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Floane-Regular-2';
  src: url('../../pc/fonts/Floane-Regular-2.eot');
  /* IE9 */
  src: url('../../pc/fonts/Floane-Regular-2.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Floane-Regular-2.woff') format('woff'),
    url('../../pc/fonts/Floane-Regular-2.ttf') format('truetype'),
    /* chrome,
firefox, opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Floane-Regular-2.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('../../pc/fonts/Aileron-SemiBold-11.eot');
  /* IE9 */
  src: url('../../pc/fonts/Aileron-SemiBold-11.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../pc/fonts/Aileron-SemiBold-11.woff') format('woff'),
    url('../../pc/fonts/Aileron-SemiBold-11.ttf') format('truetype'),
    /*
chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../../pc/fonts/Aileron-SemiBold-11.svg') format('svg');
  /* iOS 4.1- */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
div,
dl,
dd {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  word-break: normal;
}

h4,
h5,
h6 {
  font-size: 1em;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  box-sizing: border-box;
}

td,
th {
  padding: 0;
  margin: 0;
}

select,
input,
button {
  outline: none;
}

textarea,
input {
  -webkit-appearance: none;
  outline: none;
}

em,
i,
b {
  font-style: normal;
  font-weight: normal;
}
em {
  font-style: oblique;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
}
a img,
img {
  border: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
video {
  outline: 0;
}
textarea:focus {
  border: 1px solid #108ee9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #acacac;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #acacac;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #acacac;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #acacac;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

