@font-face {
  font-family: 'Aileron-Regular, Aileron';
  src: url('../fonts/Aileron-Regular.eot');
  /* IE9 */
  src: url('../fonts/Aileron-Regular.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Aileron-Regular.woff') format('woff'),
    url('../fonts/Aileron-Regular.ttf') format('truetype'),
    /* chrome,
firefox, opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Aileron-Regular.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-Thin';
  src: url('../fonts/Aileron-Thin.eot');
  /* IE9 */
  src: url('../fonts/Aileron-Thin.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Aileron-Thin.woff') format('woff'),
    url('../fonts/Aileron-Thin.ttf') format('truetype'),
    /* chrome, firefox,
opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Aileron-Thin.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Floane-Regular';
  src: url('../fonts/Floane-Regular.eot');
  /* IE9 */
  src: url('../fonts/Floane-Regular.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Floane-Regular.woff') format('woff'),
    url('../fonts/Floane-Regular.ttf') format('truetype'),
    /* chrome,
firefox, opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Floane-Regular.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-Regular-10';
  src: url('../fonts/Aileron-Regular-10.eot');
  /* IE9 */
  src: url('../fonts/Aileron-Regular-10.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Aileron-Regular-10.woff') format('woff'),
    url('../fonts/Aileron-Regular-10.ttf') format('truetype'),
    /*
chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Aileron-Regular-10.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-Thin-13';
  src: url('../fonts/Aileron-Thin-13.eot');
  /* IE9 */
  src: url('../fonts/Aileron-Thin-13.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Aileron-Thin-13.woff') format('woff'),
    url('../fonts/Aileron-Thin-13.ttf') format('truetype'),
    /*
chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Aileron-Thin-13.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Floane-Regular-2';
  src: url('../fonts/Floane-Regular-2.eot');
  /* IE9 */
  src: url('../fonts/Floane-Regular-2.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Floane-Regular-2.woff') format('woff'),
    url('../fonts/Floane-Regular-2.ttf') format('truetype'),
    /* chrome,
firefox, opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Floane-Regular-2.svg') format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('../fonts/Aileron-SemiBold-11.eot');
  /* IE9 */
  src: url('../fonts/Aileron-SemiBold-11.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Aileron-SemiBold-11.woff') format('woff'),
    url('../fonts/Aileron-SemiBold-11.ttf') format('truetype'),
    /*
chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../fonts/Aileron-SemiBold-11.svg') format('svg');
  /* iOS 4.1- */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
div,
dl,
dd {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  word-break: normal;
}

h4,
h5,
h6 {
  font-size: 1em;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a img,
img {
  border: 0;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

td,
th {
  padding: 0;
  margin: 0;
}

select,
input,
button {
  outline: none;
}

textarea,
input {
  -webkit-appearance: none;
  outline: none;
}

em,
i,
b {
  font-style: normal;
  font-weight: normal;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.ps {
  position: static;
}

.py {
  position: sticky;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cl {
  clear: both;
}

.fn {
  font-weight: normal;
}

.fb {
  font-weight: bold;
}

.fi {
  font-style: italic;
}

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.z {
  _zoom: 1;
}

.cleargap {
  font-size: 0;
  -webkit-text-size-adjust: none;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
}

img {
  padding: 0;
  margin: 0;
}

textarea:focus {
  border: 1px solid #108ee9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #acacac;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #acacac;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #acacac;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #acacac;
}

html,
body {
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  background: #ffffff;
  /* 解决外部html样式加载后影响全局字体样式 */
  /* font: 16px 'Aileron-Regular, Aileron' !important; */
  overflow-x: hidden;
}

.overflow_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rotate {
  transition: all 0.3s ease-out;
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

/* 全局面包屑 */
.m_tb_20 {
  margin: 20px 0;
}

.crumbs {
  padding: 0 20px;
  height: 60px;
  background: #fff;
  line-height: 60px;
  font-size: 12px;
  font-family: 'Aileron-Regular, Aileron';
  color: #000000;
}

.crumbs.F9F9F9 {
  background: #f9f9f9;
}

.crumbs li {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
}

.crumbs li + li {
  margin-left: 30px;
}

.crumbs .c_title {
  max-width: 760px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.crumbs li.m_nav::after,
.crumbs li.c_nav::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -20px;
  background: url(../images/right@2x.png) no-repeat;
  width: 8px;
  height: 11px;
  background-size: 100% 100%;
}

.zoomImg img {
  max-width: 90vw;
  max-height: 90vh;
}

a:hover {
  color: #df0052;
}

.p_width {
  width: 1174px;
  margin: 0 auto;
}
.success_sub {
  padding-left: 40px;
  background: url(../images/icon/success_sub_icon.png) no-repeat;
  background-size: 30px 30px;
  background-color: #fff;
  background-position: 15px center;
}
.fail_sub {
  padding-left: 40px;
  background: url(../images/icon/rec_sub_icon.png) no-repeat;
  background-size: 30px 30px;
  background-color: #fff;
  background-position: 15px center;
}

.main_color {
  color: #df0052 !important;
}
[data-overflow = 'true']::-webkit-scrollbar {
    opacity: 0;
    transition: 0.3s all ease-in-out;
}
.activity b{
    font-weight: bold;
}
.activity em,
.activity i {
  font-style: italic;
  font-weight: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cover_wrap:hover .mainRelationListImg{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.cover_wrap:hover .associateRelationListImg{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.mainRelationListImg{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.associateRelationListImg{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
