@charset "utf-8";
.contact_main{
  padding: .15rem;
  box-sizing: border-box;
  background-color: #F7F7F7;
}
.contact_main .contact_header{
  text-align: center;
  line-height: 1.4;
  margin: .28rem 0;
}
.contact_main h1{
  font-size: .24rem;
  line-height: 1.4;
  font-family: Aileron-SemiBold;
font-weight: bold;
}
.form__header, .form__legend {
    margin-bottom: .3rem;
}
.form__header h3{
  font-size: .2rem;
}
.form__input-wrapper{
  width: 100%;
  background-color: #fff;
  height: .48rem;
  margin-bottom: .12rem;
  position: relative;
}
.form__textarea-wrapper{
  height: 2rem;
}
.form__input-wrapper input,.form__input-wrapper textarea{
  width: 100%;
  padding-top: .1rem;
  padding-left: .14rem;
  box-sizing: border-box;
  height: 100%;
  display: block;
  border: #eee solid 1px;
}
.form__input-wrapper label{
  position: absolute;
  top: .05rem;
  font-size: .12rem;
  left: .14rem;
}
.form__input-wrapper textarea{
  padding-top: .2rem;
}
.layui-form-item button{
  width: 100%;
  height: .48rem;
  background-color: #DF0052;
  color:#ffff;
  line-height: .48rem;
  font-size: .16rem;
}