{% layout 'theme', showHeader: true,showFooter: true%}
{% block 'content' %}
  <link rel="stylesheet" href="../assets/css/static.css">
  <div class="clearfix container-xl static-page-html">
  </div>
  <script src="../assets/js/static.js"></script>
{% endblock %}
