{% layout 'theme' %}
{% block 'content' %}
  <link rel="stylesheet" href="../assets/css/static-404.css">
  <div class="static-404-html">
    <a href={{ 'index' | fmtUrl }}></a>
  </div>
  <script src="../assets/js/static-404.js"></script>
{% endblock %}
