<div class="swiper-container category-swiper-pc" perLineNum="{{perLineNum}}" id="swiper-pc-{{id}}">
	<div class="swiper-wrapper">
		{% assign list = categoryList | chunkArr: perLineNum %}
		{% for v in list %}
		<div class="swiper-slide" {% if list.size==2 %} style="width:45%;margin:15px" {% elsif list.size==1 %} style="width:100%" {%else%} style="width:40%;margin:10px" {%endif%}>
			{% for item in v %}
			<div class="swiper-slide-img">
				{% render 'category-item-style1',data:item,isSwiper:1,prePath:prePath %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="swiper-button-next iconfont icon-arrow-right"></div>
	<div class="swiper-button-prev iconfont icon-arrow-left"></div>
</div>
<script>
	$(document).ready(function () {
		// 初始化swiper轮播图
		new Swiper('.category-swiper-pc', {
			observer: true, //修改swiper自己或子元素时，自动初始化swiper
			observeParents: true, //修改swiper的父元素时，自动初始化swiper
			resizeObserver: true,
			watchSlidesProgress: true,
			watchSlidesVisibility: true,
			spaceBetween: 15,
			navigation: {
				nextEl: '.category-swiper-pc .swiper-button-next',
				prevEl: '.category-swiper-pc .swiper-button-prev',
			},
			lazy: {
				loadPrevNext: true,
			}
		})
	})
</script>
