body {
  background: #ffffff;
  box-sizing: border-box;
}

.categoryImg {
  width: 100%;
  height: 1.68rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.athena-productList ul li {
  list-style-type: none;
}

p {
  margin: 0;
}

.athena-productList a {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
}

.athena-productList img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.athena-productList-title {
  margin-top: 0.2rem;
  width: 100%;
  /* height: 0.58rem;
  line-height: 0.58rem;
  font-family: Aileron-SemiBold, Aileron; */
}

.athena-productList-title h4 #title {
  margin: 0;
  padding: 0 0.16rem;
  font-size: 0.16rem;
  color: #000000;
  font-weight: 600;
}

.athena-productList-title p {
  padding: 0 0.15rem;
  font-size: 0.1rem;
  color: #000000;
  display: flex;
  align-items: center;
  font-family: Roboto-Medium, Roboto;
  line-height: 1;
}

.athena-productList-title .second-title {
  font-size: 0.18rem;
  height: 0.21rem;
  line-height: 0.21rem;
  margin: 0.15rem 0;
}


.athena-productList-title p .goHome {
  color: #666666;
}

.athena-productList-title p span {
  max-width: 3rem;
}

.athena-productList-title h4 .total {
  font-size: 0.12rem;
  color: #888888;
  font-weight: 600;
}

/* 商品列表排序过滤 */
.athena-productList-filter {
  width: 100%;
  height: 0.4rem;
  background: #f6f6f6;
  font-family: Aileron-SemiBold, Aileron;
  line-height: 0.4rem;
  position: relative;
}

.athena-productList-filter .athena-filter-father {
  padding: 0 0.16rem;
}

.athena-productList-filter .athena-filter-father li {
  float: right;
}
.athena-productList-filter .athena-filter-child li.active {
  color: #6A2117;
}

#Sort span {
  font-size: 0.13rem;
  font-family: Roboto-Regular, Roboto;
  line-height: 1;
  font-weight: 400;
  color: #666666;
}

.athena-filter-father li:first-child {
  margin-top: 0.13rem;
  margin-left: 0.2rem;
}

.athena-filter-child {
  position: absolute;
  width: 100%;
  z-index: 100;
  font-size: 0.12rem;
  padding: 0 0.16rem;
  margin: 0;
  background: #fff;
}

.athena-filter-child .athena-filter-child-name {
  float: left;
  display: flex;
  align-items: center;
}

.athena-filter-child .athena-filter-child-name img {
  width: auto;
  height: 0.16rem;
}

.athena-filter-child .athena-filter-child-check {
  float: right;
  margin-right: 0.5rem;
  display: none;
}

.athena-filter-child .athena-filter-child-check img {
  width: auto;
  height: 0.12rem;
}

.athena-changeView {
  float: right;
  line-height: 0;
  font-size: 0;
}

.athena-changeView:first-child {
  padding-left: 0.1rem;
  border-left: 1px solid #bbbbbb;
}

.athena-changeView:last-child {
  padding-right: 0.1rem;
}

.athena-changeView span {
  display: inline-block;
  width: 0.13rem;
  height: 0.13rem;
  background: #bbbbbb;
}

.athena-changeView:first-child span:first-child {
  margin-right: 0.04rem;
}

.athena-productList-cantainer {
  width: 100%;
}

#Juxtaposition span {
  background-color: #474747;
}

.athena-productList .triangle {
  margin-left: 0.05rem;
  width: 0.08rem;
  height: 0.04rem;
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
}

.athena-productList .triangle_ratate {
  transform: rotate(0deg);
}

.athena-productList .Sort {
  display: none;
}

.athena-filter-child .hide {
  display: none;
}

.athena-filter-child .show {
  display: block;
}

.hide {
  display: none;
}

.search {
  font-family: Roboto-Regular, Roboto;
}

.search .searchHeader {
  width: 100%;
  height: 0.4rem;
  margin-bottom: 0.3rem;
  margin-top: .2rem;
  padding: 0 .16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search .backHome {
  width: 0.07rem;
  height: 0.12rem;
  background-image: url(../../wap/images/left@2x.png);
}

.search .inputBox {
  display: flex;
  height: 100%;
  width: calc(100% - 0.2rem);
  box-shadow: -.01rem .02rem .07rem 0 rgba(0, 0, 0, 0.08);
  border-radius: .02rem;
  border: .01rem solid #D8D8D8;
  font-size: .14rem;
  position: relative;
}

.search .inputBox input {
  flex: 1;
  height: 100%;
  padding-left: 0.12rem;
  border: none;
  background: #eee;
}
.search .inputBox input:focus {
  background: #FFF;
}
.search .inputBox .searchSubmit {
  height: 100%;
  width: 0.35rem;
  position: absolute;
  top: 0;
  right: 0;
}

.search .inputBox .searchSubmit img {
  width: 0.18rem;
  height: 0.18rem;
}

.search .search-tip {
  text-align: center;
  color: #9B9B9B;
  font-size: .12rem;
  font-weight: 400;
}

.search .search-tip .search-keyword {
  color: #6A2117;
}